 body{
    background-color: rgb(210, 223, 223);
}

h1{
    color: rgb(242, 10, 60);
    
}
h2{
    color: rgb(20, 27, 238);
    
}



    .circle {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        float: left;
        margin-right: 50px;
    }
         
    .rounded {
        width: 130px;
        height: 130px;
        border-radius: 25%;
        float: left;
        margin-right: 50px;
    }
         
    .square {
        width: 130px;
        height: 130px;
        border-radius: 0%;
        float: left;
        margin-right: 50px;
    }

    
#circle {
    background-color: #196F3D;
}
     
#rounded {
    background-color: #5DADE2;
}
     
#square {
    background-color: #58D68D;
}